<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vue router example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
</head>

<body>
  <div id='ex1'>
    <header>
      <navigation> </navigation>
    </header>
    <main class="container">
      <!-- location where the component is rendered based on current route-->
      <router-view></router-view>
    </main>
    <copyright></copyright>
  </div>
</body>
<script src='https://cdn.jsdelivr.net/npm/vue'></script>
<!-- load router lib -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.js'></script>
<script>
  // Define a new component called cards
  const cards = Vue.component('cards', {
    data: function () {
      console.log(this);
      return {
        // get parent data ref
        cards: this.$parent.$data.cards
      }
    },
    template: `
      <article>
        <card-list :cards='cards'></card-list>
      </article>
      `
  })
  // Define a new component called card-list
  Vue.component('card-list', {
    props: ['cards'],
    template: `
      <div class="row">
        <card v-for="card in cards" :title="card.title" :author="card.author" :content="card.content" :date="card.date"> </card>
      </div>
      `
  });

  // Define a new component called card
  Vue.component('card', {
    props: ['title', 'author', 'content', 'date'],
    template: `<article class="card mt-5"> 
      <section class="card-header"> 
        by {{ author }}
      </section>
      <section class="card-body">
        <h5 class="card-title text-center"> {{ title }} </h5>
        <p class="card-text"> {{ content }} </p>
      </section>
      <div class="card-footer text-muted">
        {{ date }}
      </div>
    </article>`
  });

  // Define a new component called add-card
  const addCard = Vue.component('add-card', {
    data: function () {
      return {
        card: {
          author: '',
          title: '',
          date: '',
          content: ''
        }
      }
    },
    methods: {
      addCard: function() {
        this.$parent.$emit('addCard', this.card);
        // navigate to home
        router.push('/')
      }
    },
    template: `
      <section class="card m-5">
        <div class="card-header">
          <h6>  Add another card: </h6>
        </div>
        <div class="card-body">
          <div class="form-group" >
            <label for="input-author">
              Author
            </label>
            <input v-model="card.author" class="form-control" id="input-author">
          </div>
          <div class="form-group">
            <label for="input-date">
              Date
            </label>
            <input v-model="card.date" class="form-control" id="input-date">
          </div>
          <div class="form-group">
            <label for="input-title">
              Title
            </label>
            <input  v-model="card.title" class="form-control" id="input-title">
          </div>
          <div class="form-group">
            <label for="textarea-content">
              Content
            </label>
            <textarea  v-model="card.content" class="form-control" id="textarea-content" rows="3"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-info" @click="addCard"> Add card </button>
          </div>
        </div>
      </section>`
  });

  // Define a new component called navigation
  Vue.component('navigation', {
    template: `
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="https://installeranalytics.com">
        <img width="32" height="32" src="https://installeranalytics.com/common/images/Installer_Analytics_Logo_No_Text.svg"/>
      </a>
      <div class="nav justify-content-end">
        <a class="nav-item nav-link" href="https://getbootstrap.com">
          Bootstrap
        </a>
        <a class="nav-item nav-link" href="https://vuejs.org">
          Vue
        </a>
        <router-link class="nav-item nav-link" to="/add">Add card</router-link>
        <router-link class="nav-item nav-link" to="/">Home</router-link>
      </div>
    </nav>
    `
  });

  // Define a new component called footer
  Vue.component('copyright', {
    template: '<footer class="text-center m-5"> Caphyon 2018 </footer>'
  });

  const routes = [
    { path: '/', component: cards },
    { path: '/add', component: addCard },
  ];

  const router = new VueRouter({
    routes // short for `routes: routes`
  });

  var ex1 = new Vue({
    el: '#ex1',
    router: router,
    mounted: function () {
      this.$on('addCard', (card) => {
        this.cards.push(card);
      });
    },
    data: {
      cards: [
        {
          title: "What is Lorem Ipsum?",
          author: "www.lipsum.com",
          content: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
          date: "21 Mai"
        },
        {
          title: "Why do we use it?",
          author: "www.lipsum.com",
          content: "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).",
          date: "21 Mai"
        },
        {
          title: "Where does it come from?",
          author: "www.lipsum.com",
          content: "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of 'de Finibus Bonorum et Malorum' (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, 'Lorem ipsum dolor sit amet..', comes from a line in section 1.10.32.",
          date: "21 Mai"
        },
        {
          title: "Where can I get some?",
          author: "www.lipsum.com",
          content: "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.",
          date: "21 Mai"
        }
      ]
    }
  });
</script>

</html>